<div class="container mt-4">
  <div class="border p-3 rounded">
    <p class="text-body-tertiary mb-3">Información básica</p>
    <div class="mb-3">
      <label class="form-label">Primer apellido</label>
      <input type="text" id="firstLastName" class="form-control" disabled [value]="data?.firstLastName"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Primer nombre</label>
      <input type="text" id="firstName" class="form-control" disabled [value]="data?.firstName"/>
    </div>
  </div>
</div>

